.jumbotron{
    background-color:rgba(236, 236, 236, 0.884);
}

.btn{
    background-color: rgba(202, 202, 202, 0.884);
}

footer{
    padding: 10px 10px 0 10px;
    background-color: rgba(236, 236, 236, 0.884);
    margin-bottom: 0px;
}
